body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.analysis {
  padding: 35px;
  width: 350px;
}

.uniqe-words {
  background-color: red;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.word-analysis-container {
  display: flex;
}

.word-analysis {
  background-color: blue;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
